.example-3 {
  padding: 8px;
}

.example-3 .filupp > input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.example-3 .filupp {
  position: relative;
  display: block;
  background: #242424;
  line-height: 30px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
}
.example-3 .filupp > span {
  margin: auto;
}

simple-pdf-viewer, ion-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

ion-button{
  font-family: 'Comic Neue', sans-serif;
  font-weight: 500;
  font-size: 0.7em;
  line-height: 1.0;
}