<ion-content fullscreen="true">
  <pdf-viewer (click)="click()" [src]="pdfSrc" [render-text]="true" [render-text-mode]="2" [original-size]="false"
    [show-all]="false" [page]="pg" [autoresize]="true" [zoom]="zm" (after-load-complete)="afterLoadComplete($event)"
    style="max-width:match-parent;
              display: block;"></pdf-viewer>

  <ion-fab class="fab" vertical="top" horizontal="start" slot="fixed" style="width: 100%">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="example-3">
            <label for="file" class="filupp">
              <span class="filupp-file-name js-value">Открыть</span>
              <input type="file" name="file" (change)="sel()" id="file">
            </label>
          </div>
        </ion-col>
        <ion-col>
          <ion-searchbar (input)='search($event.target.value)'></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-fab>
  <ion-fab class="fab" vertical="center" horizontal="end" slot="fixed">
    <ion-grid>
      <ion-row>
        <ion-button (click)="zoomIn()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-button (click)="zoomOut()">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-fab>
</ion-content>

<ion-fab class="fab" vertical="bottom" horizontal="0px" slot="fixed" style="width: 100%">
  <ion-grid style="padding: 0px">
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="prev()" [disabled]="pg === 1">
          <ion-icon name="arrow-dropleft"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="7">
        <ion-range min="1" [max]="totalPages" step="1" snaps="true" pin="true" [value]="pg"
          (ionChange)='setpg($event.target.value)'></ion-range>
      </ion-col>
      <ion-col text-center>
        <ion-button (click)="next()" [disabled]="pg === totalPages">
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-fab>